.top-contet {
  height: 50px;
  padding-top:15px;
  padding-left: 15px;
  width: 750px;
  .total_amount {
      height: 100%;
      width: 55%;
      font-weight: bold;
      font-size: 25px;
      float: left;
    }
    .search-form {
      display       : inline-block;
      border-radius : 8%;     
      font-size     : 14pt;    
      padding       : 12px 12px;    
    }
    .search-btn {
      border-radius : 2%;     
    }
}
.income{
  table {
  width: 750px;
  box-shadow: 0 0 15px -6px #00000073;
  }
  table tr {
  background-color: #fff;
  }
  table tbody tr:hover{
  background-color: #fffae9;
  }
  table th,
  table td {
  padding: .35em 1em;
  border-bottom: 1px solid #eee;
  }
  table thead th {
    font-size: .85em;
    padding: 1em;
  }
  table thead tr{
  background-color: #0099FF;
  color:#fff;
  }
  table tbody th {
  text-align: left;
  font-size: .8em;
  }

  @media screen and (max-width: 600px) {
  table{width: 100%;}
  }

  .group_income {
    margin-top: 15px;
    height: 190px;
    width: 300px;
    border: 1px solid #fff;
    box-shadow: 0 0 15px -6px #00000073;
    &__title{
      font-size: 17px;
      height: 25px;
      background-color: #0099FF;
      color: #fff;
      padding-left: 15px;
    }
    &__content{
      font-size: 16px;
      padding-left: 15px;
      overflow: scroll;
      height: 150px;
      p{
        margin: 5px;
      }
    }

  }

  .content-link{
    margin-top: 15px;
    font-size: 20px;
    height: 30px;
    width: 60%;
    text-align: center;
    
    &__top{
      width: 45%;
      float: left;
      background-color: white;
      border: 1px solid #a8b7c5;
      a {
        text-decoration: none;
        color: #0099FF;
      }
    }
    &__bottom{
      width: 45%;
      background-color: #0099FF;
      float: left;
      border: 1px solid white;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
.registration{
  &__title{
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #0099FF;
  }
  padding-left: 30px;
  .form {
    width: 85%;
    height: 1000px;
    margin: 0 auto;
    padding-top: 30px;
    
    &__name{
      display: block;
      width: 50%;
      height: 50px;
      border: 1px solid #1b2538;
	    border-radius: 4px;
    }
    &__amount{
      display: block;
      width: 50%;
      height: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      border: 1px solid #1b2538;
	    border-radius: 4px;
    }
    &__date{
      height: 50px;
    }

    &__btn{
      display       : inline-block;
      border-radius : 8%;     
      font-size     : 16pt;  
      text-align    : center;     
      cursor        : pointer;    
      padding       : 12px 12px;  
      background    : #0099FF;     
      color         : #ffffff;  
      line-height   : 1em;      
      transition    : .3s;      
      border        : 2px solid #0099FF; 
    }
    .button:hover {
      box-shadow    : none;      
      color         : #000066;   
      background    : #ffffff;   
    }
  }
  &__link{
    margin-top        :  10px;
    width             : 50%;
    height            : 30px;
    background-color  : #0099FF;
    border            : 1px solid #a8b7c5;
    text-align        : center;
    line-height       : 30px;
    font-size         : 20px;
    a {
      text-decoration : none;
      color           : white;
    }
  }
}
.pagination {
  padding-top: 15px;
  width: 400px;
  padding-left: 400px;
}
.pagination ul {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  border-radius: 3px;
}
.pagination li {
  overflow: hidden;
  margin: 4px;
  padding: 0;
}
.pagination a, .pagination span {
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 3px 0 0;
  border-radius: 50%;
  text-decoration: none;
  color: #666;
  border:2px solid #fff;
}
.pagination a:hover {
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 3px 0 0;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  background:#999;
  border:2px solid #999;
}
.pagination .pagenation-current {
  color: #f96da5;
  cursor: default;
  margin: 0 3px 0 0;
  border:2px solid #f96da5;
}
.page-numbers {
  width: auto;
  padding: 0;
  background: transparent
}