.top-contet {
  height: 50px;
  padding-top:15px;
  padding-left: 15px;
  .total_amount {
      height: 100%;
      width: 50%;
      font-weight: bold;
      font-size: 30px;
      float: left;
    }
    .search-form {
      display       : inline-block;
      border-radius : 8%;     
      font-size     : 16pt;    
      padding       : 12px 12px;    
    }
    .search-btn {
      border-radius : 2%;     
; 
    }
}

table{
  width: 100%;
  border-collapse:separate;
  border-spacing: 0;
}
table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.content-link{
  margin-top: 15px;
  font-size: 20px;
  height: 30px;
  width: 60%;
  text-align: center;
  
  &__top{
    width: 45%;
    float: left;
    background-color: white;
    border: 1px solid #a8b7c5;
    a {
      text-decoration: none;
      color: #3c6690;
    }
  }
  &__bottom{
    width: 45%;
    background-color: #3c6690;
    float: left;
    border: 1px solid white;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.registration{
  &__title{
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    color: green;
  }
  padding-left: 30px;
  .form {
    width: 85%;
    height: 1000px;
    margin: 0 auto;
    padding-top: 30px;
    
    &__name{
      display: block;
      width: 50%;
      height: 50px;
      border: 1px solid #1b2538;
	    border-radius: 4px;
    }
    &__amount{
      display: block;
      width: 50%;
      height: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      border: 1px solid #1b2538;
	    border-radius: 4px;
    }
    &__date{
      height: 50px;
    }

    &__btn{
      display       : inline-block;
      border-radius : 8%;     
      font-size     : 16pt;  
      text-align    : center;     
      cursor        : pointer;    
      padding       : 12px 12px;  
      background    : #38b48b;     
      color         : #ffffff;  
      line-height   : 1em;      
      transition    : .3s;      
      border        : 2px solid #38b48b; 
    }
    .button:hover {
      box-shadow    : none;      
      color         : #000066;   
      background    : #ffffff;   
    }
  }
  &__link{
    margin-top        :  10px;
    width             : 50%;
    height            : 30px;
    background-color  : #38b48b;
    border            : 1px solid #a8b7c5;
    text-align        : center;
    line-height       : 30px;
    font-size         : 20px;
    a {
      text-decoration : none;
      color           : white;
    }
  }
}